
body {
    background: #8e9eab; 
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
    background: linear-gradient(to right, #eef2f3, #8e9eab); 
    margin: 0;
}

footer {
    /* display: block; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
    vertical-align: baseline;
    height: 5%;
    border-top: 8px solid #4aaaa5;
    padding: 10px;
}

h1 {
    background: #ffffff;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Georgia, 'Times New Roman', Times, serif;
}

header {
    background: #4aaaa5;
    width: 10%;
    height: 40px;
    text-align: center;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    position: absolute;
    top: 70%;
    z-index: 5;
    width: 100%;
}

img { 
    float: left;
    padding-right: 2%;
    padding-bottom: 1%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #777777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4aaaa5;
  color: white;
}

p {
    align-content: top;
    line-height: 30px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

td {
    position: relative;
    width: 100%;
}

/* tr {
    position: relative;
    width: 50%;
} */

ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
  font-family: 'Georgia', Times, Georgia, 'Times New Roman', Times, serif;
}

.far { 
    color: white;
}

/* .footer {
    color: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
    vertical-align: text-bottom;
} */

.mainSection { 
    background: #ffffff;
    border: 2px solid #dddddd;
    margin: auto;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 960px;
    text-align: left;
}

.navBar {
    width: 150px;
    margin-left: 295px;
    float: left;
    background: #4aaaa5;
    color: #ffffff;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar2 {
    margin-right: 280px;
    text-align: right;
    float: right;
    background: #ffffff;
    color: #777777;
}

